{% extends 'base.html' %}
{% load static %}
{% block title %}Home Page{% endblock %}
{% block header %}{% endblock %}
{% block section %}
<header></header>
<style>
    header {
    width: 100%;
    height: 70px;
    background: #672e8d;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
  }
</style>
{% endblock %}
{% block contents %}

{% endblock %}
{% block footer%}{% endblock %}